.home-content {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.body-home {
    width: 100%;
    height: 60%;
    background-color: #00bd7a;
    display: flex;
}

.news-list {
    position: relative;

}

.news-list::-webkit-scrollbar {
    width: 0;
}

.news-block {
    margin-bottom: 1rem;
    transition: opacity 1s;
    opacity: .4;
}

.news-block:hover {
    transition: opacity 1s;
    opacity: 1;
}

.opacity-1 {
    opacity: 1;
}

.news-header {
    position: relative;

}

.title {
    position: absolute;

}

.date {
    position: absolute;

}

.day {
    font-size: 28px;
    margin-bottom: -10px;
    display: block;
}

.month {
    text-transform: uppercase;
    font-size: 14px;
}

.news-content {
    position: relative;
}

.bbWrapper {
    position: relative;

}

.news-author {
    text-align: end;
    margin: 0;
    color: #F1F1F1;
}

.news-author span {
    font-style: italic;
}

.info-list {
    position: relative;

}

.server {
    position: relative;

}

.server:hover {
    transition: opacity 1s;
    opacity: 1;
}

.server-img {
    position: absolute;

}

.name {
    position: absolute;

}

.desc {
    position: absolute;

}

.green {
    color: #1AC707;
}

.red {
    color: #FF0409;
}

.etat-text {
    position: absolute;

}

.text {
    position: absolute;

}

.online {
    position: absolute;
    top: -6px;
    left: 41px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 2px solid #1A1A1A;
    transition: all .2s;
    background-color: #1AC707;
}

.online.off {
    background-color: #FF0409;
}

.play-content {
    position: relative;
    background-color: rebeccapurple;
}

.play-content .play-btn {
    width: 54vw;
    height: 8vh;
    border-radius: 20px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    color: #fff;
    cursor: pointer;
}

.download-content {
    display: none;
}

.download-content.active {
    position: absolute;
    width: 100%;
    height: 7vh;
    background-color: aqua;
}

.download-content.active .text-download,
.download-content.active .progress-bar {
    display: none;
}

.text-download {
    font-size: 15px;
}

.progress-bar {
    background-color: transparent;
    height: 10px;
}

.progress-bar::-webkit-progress-bar {
    background-color: #797979;
    border-radius: 10px;
}

.progress-bar::-webkit-progress-value {
    background-color: #00bd7a;
    border-radius: 10px;
}


.navigation-menu {
    width: 100%;
    height: 10vh;
    /*background-color: orange;*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navigation-menu .links-content,
.navigation-menu .buttons-content {
    height: 100%;
    /*background-color: aqua;*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.navigation-menu button {
    width: 10vh;
    height: 10vh;
    background-color: var(--bg-second);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.navigation-menu button:hover {
    transform: scale(1.05);
}

.navigation-menu button img {
    transform: scale(0.6);
    transition: all 0.3s ease;
}

.navigation-menu button:hover img {
    transform: scale(0.7);
}

.navigation-menu button.account {
    background-image: url("../../images/default/steve.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
